body {
  
    margin: 0;
    font-family: 'Karla', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(   #0c0c0c 20%, #090a05);
    color: white;  
  
  
}

.navbar{
  color: white;
}

.tabHeight{
  min-height: 60vh;
}

ul li {
  list-style: none;
}

.hero {
  background-size: cover; 
  background-repeat: no-repeat;
  background-image:  linear-gradient(to right, rgba(46, 44, 44, 0.904) 150px, rgba(92, 89, 89, 0.904) 100%), url(https://cdn.wallpapersafari.com/69/71/mgiTNs.jpg);
}

.searchBox {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}