body {
  
    margin: 0;
    font-family: 'Karla', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(   #0c0c0c 20%, #090a05);
    color: white;  
  
  
}

.navbar{
  color: white;
}

.tabHeight{
  min-height: 60vh;
}

ul li {
  list-style: none;
}



